{% extends 'layout.tpl' %}

{% block title %}Admin{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block content %}
<p>Hello adminpage</p>
{% endblock %}